[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]

[packages]
protobuf = "3.19.0`"
streamlit = "1.9.0"
streamlit-option-menu = "0.3.2"
plotly = "5.8.0"
sklearn = "1.1.1"
torch = "1.11.0"
scikit-survival = "0.17.2"
matplotlib = "3.5.2"

[requires]
python_version = "3.7.8"
